asgiref==3.5.0
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.10
colorama==0.4.4
decorator==4.4.2
Django==3.2.12
idna==3.3
imageio==2.14.1
imageio-ffmpeg==0.2.0
moviepy==1.0.2
numpy==1.21.5
Pillow==9.0.0
proglog==0.1.9
py4j==0.10.9.2
PyKomoran==0.1.6.post1
requests==2.27.1
soupsieve==2.3.1
sqlparse==0.4.2
tqdm==4.62.3
tzdata==2021.5
urllib3==1.26.8
